@media only screen and (max-width:767px) {
    h1{
        font-size: 1,5rem;
    }

    header{
        padding: 1rem 1rem;
    }

    
    
    .initial-image > div > h2{
        font-size: 1.5rem;
        margin: .5rem 0;
    }
    

    .container{
        grid-template-columns: 1fr;
        padding: 1rem 2rem;
    }

    .recent-posts-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .post-1{
        grid-area: auto;
    }

    .post-2{
        grid-area: auto;
    }

    .article{
        width: 80vw;
    }

    .card{
        width: 100%;
    }

    .aside{
        width: 100vw;
    }

    .popular-cards{
        width: 80vw;
    }

    .categories{
        width: 80vw;
    }

    .popular-details > h3{
        color: #000;
        font-size: .8rem;
        font-weight: 700;
    }

    .title-popular{
        width: 80vw;
    }

    .initial-image > img{
        width: 95%;
    }

   
    
}