@media only screen and (max-width:767px) {
    h1{
        font-size: 1,5rem;
    }

    header{
        padding: 1rem 0;
        text-align: center;
    }

    .initial-image{
        width: 74vw;
    }
    
    .initial-image > div > h2{
        font-size: 1.5rem;
        margin: .5rem 0;
    }
    

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .recent-posts-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .post-1{
        grid-area: auto;
    }

    .post-2{
        grid-area: auto;
    }

    .article{
        width: 74vw;
    }

    .card{
        width: 100%;
    }

    aside{
        width: 74vw;
    }

    .popular-cards{
        width: 74vw;
    }

    .categories{
        width: 74vw;
    }

    .popular-details > h3{
        color: #000;
        font-size: .8rem;
        font-weight: 700;
    }

    .title-popular{
        width: 74vw;
    }

    .initial-image > img{
        width: 95%;
    }

}