*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}



header{
    background-color: #02A28F;
    padding: 1rem 10rem;
}

h1{
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 700;
}

h3{
    color: #000;
    font-size: 1.25rem;
    font-weight: 700;
}

p{
    color: #000;
    font-size: .9rem;
    font-weight: 400;
}

aside{
    width: 30vw;
}


footer{
    background-color: #02A28F;
    color: #FFF;
    font-size: .9rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem 0;
}

.container{
    padding: 3rem 5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-columns: auto;
    gap: 1.5rem;
}

.initial-image{
    height: 34.7rem;
    background-image: url(../assets/img/undefined_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    color: #FFF;
    padding: 1.5rem;
    position: relative;
}

.initial-image > div{
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
}

.initial-image > div > h2{
    font-size: 2rem;
    margin: .5rem 0;
}



.article{
    width: 50vw;
}

.article > div{
    padding: 1rem 1.5rem;
    border-radius: 8px;
    color: #FFF;
    background-color: #02A28F;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.recent-posts-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: .8rem;
}

.recent-posts-container > div{
    margin-top:.8rem ;
}

.post-1{
    grid-area: 1/2;
}

.post-2{
    grid-area: 2/1;
}

.card{
    display: flex;
    flex-direction: column;
    height: 32rem;
    width: 24vw;
    background-color: #FFF;
    border-radius: 30px ;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0.5rem 1.5rem;
   
}

.card > img {
    object-fit: cover;
    height:  fit-content;
    width: 100%;
    border-radius: 30px 30px 0 0;
}

.card-details{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: left;
    height: fit-content;
}

.card-details > h3{
    font-size:1.1rem ;
}

.card-details > span{
    color: #616161;
    font-weight: 400;   
    font-size: .9rem;
}

.card-details > span:first-child{
    font-size: .9rem;
    color: #02A28F;
}

.bold{
    font-size: .9rem;
}








.title-popular{
    background-color: #02A28F;
    margin-top: 0.71rem;
    padding: 1rem 1.5rem;
    border-radius: 8px;
}

.popular-cards{
    margin-top: 1rem;
    background-color: #FFF;
    display: flex;
    text-align: left;
    border-radius: 10px;
    padding: .75rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px .5rem 1.5rem;
    height: 8.5rem;
   
}

.popular-cards > img{
    width: 45%;
    height: 100%;
}

.popular-details{
    margin-left: 0.6rem;
}

.popular-details > h3{
    color: #000;
    font-size: 1rem;
    font-weight: 700;
}

.popular-details > span{
    color: #616161;
    font-size: 0.75rem;
    font-weight: 500;
}




.categories{
    margin-top: 2rem;
}

.categories > ul{
    margin-top: .9rem;
    padding: 0 .25rem .25rem .25rem;
}

.categories ul li div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.categories ul > li  {
    margin-top: .9rem;
    list-style: none;
    color: #616161;
    font-size: 1rem;
    font-weight: 600;
}




